# 1. Map(), Filter(), Reduce() and lambda :

# Map() :
**Map()** : function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

**Syntax** : map(fucntion,iterable)

**Parameters** : 

**Function** : It is a function to which map passes each element of given iterable.

**Iterable** : It is a iterable which is to be mapped.

In [1]:
#Square of numbers

def square(num):
    return num ** 2 
my_list = [1,2,3,4,5]
list(map(square,my_list))

[1, 4, 9, 16, 25]

In [2]:
# Increasing each num by 5 in a given list

def inc(num):
    return num + 5 
my_list = [1,2,3,4,5]
list(map(inc,my_list))

[6, 7, 8, 9, 10]

In [3]:
# If the length of string is even returning even or else first letter of string

def str(name):
    if len(name) % 2 == 0:
        return 'EVEN'
    else:
        return name[0]
name = ['Sarath','Candy','Teddy']
list(map(str,name))

['EVEN', 'C', 'T']

# Filter() :

**Filter()** : The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

**Syntax** : filter(function, sequence)

**Parameters**:

**Function**: function that tests if each element of a sequence true or not.

**Sequence**: sequence which needs to be filtered, it can be sets, lists, tuples, or containers of any iterators.

**Returns**: returns an iterator that is already filtered.

In [4]:
#Return the number is even

def even(num):
    if num % 2 == 0:
        return num
my_list = [i for i in range(1,11)]
print('Given list',my_list)
list(filter(even,my_list))

Given list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[2, 4, 6, 8, 10]

In [5]:
# Return the numbers greater than 20 from a given list

def gre(num):
    if num >= 20 :
        return num
my_list = [22,15,33,26,74,10,19,62,35,49]
print('Given list',my_list)
list(filter(gre,my_list))

Given list [22, 15, 33, 26, 74, 10, 19, 62, 35, 49]

[22, 33, 26, 74, 62, 35, 49]

# Reduce() :

**Reduce()** : The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

**Working** :

1 At first step, first two elements of sequence are picked and the result is obtained.

2 Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.

3 This process continues till no more elements are left in the container.

4 The final returned result is returned and printed on console.

In [6]:
# Sum of numbers in the list

from functools import reduce
def sum_list(a,b):
    return a+b
my_list = [i for i in range(1,11)]
x = reduce(sum_list,my_list)
print(x)

55

In [7]:
# We can perform factorial operati0n by using reduce function

from functools import reduce
def sum_list(a,b):
    return a * b
n = int(input("Enter the number : "))
my_list = [i for i in range(1,n+1)]
x = reduce(sum_list,my_list)
print("Factorial for {} is {}".format(n,x))

Enter the number : 5
Factorial for 5 is 120

# Lambda :

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

**Syntax**:

lambda arguments : expression

In [8]:
#Sqaure of given number

square = lambda x : x ** 2
square(int(input("Enter the number : ")))

Enter the number : 9

81

**Performing lambda function in Map,filter,reduce**

In [9]:
# In map function
my_list = [i for i in range(1,11)]
list(map(lambda x : x + 2,my_list))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [10]:
# In filter function
my_list = [22,15,33,26,74,10,19,62,35,49]
list(filter(lambda x : x > 20,my_list))

[22, 33, 26, 74, 62, 35, 49]

In [11]:
# In reduce function
my_list = [i for i in range(1,11)]
x = reduce(lambda x,y : x + y,my_list)
print("Sum of numbers :",x)

Sum of numbers : 55

**Map, filter and lambda within reduce**

In [12]:
x = reduce(lambda x,y : x + y,map(lambda x : x+x ,filter(lambda x : x>=3,[1,2,3,4])))
print(x)

14

# 2. Classes and objects

# Class : 
**Class** : is blueprint from which specific objects are created. It consist of three key components.

1 Class variable : A variable that is shared by all instances of a class.

2 Instance variable : Instance variable unique to each instance.

3 Method : Function that we define inside a class.

In [13]:
#Creating student class,instnaces of a class and instance variables

class student: #Class
    pass

std_1 = student()  #Instances or objects
std_2 = student()  #Instances or objects

std_1.first = 'Sharath'  #Instance variables
std_1.last = 'Kumar'     #Instance variables
std_1.age = 24           #Instance variables

std_2.first = 'Candy'    #Instance variables
std_2.last = 'Can'       #Instance variables
std_2.age = 24           #Instance variables

print(std_1.first)
print(std_2.first)

Sharath
Candy

In [14]:
# Creating class, class variables, methods, objects or instances of a class and instance variables.


class student: #Class 
    
    prec_raise = 1.05  #Class variable
    
    def __init__(self,first,last,age): #Method
        self.first = first
        self.last = last
        self.age = age
        self.email = first + '.' + last +'@google.com'
        
    def fullname(self):               #Method
        return "{} {} ".format(self.first,self.last)
    
    def apply_raise(self):           #Method
        self.age = int(self.age * 1.05)
        
std_1 = student('Sharath','Kumar',24)
std_2 = dumb('Candy','Can',24)
print('Student 1 Email id :',std_1.email)
print("Class variable :",std_1.prec_raise)

NameError: name 'dumb' is not defined

# Class Inheritance :

**Inheritance** : Allow us to inherit attributes and methods from a base class.

1 A class can inherit attributes and behavior methods from another class, called the superclass.

2 A class which inherits from a superclass is called a subclass, also called heir class or child class.

In [ ]:
#Class inheritance

class student: #Class 
    
    prec_raise = 1.05  #Class variable
    
    def __init__(self,first,last,age): #Method
        self.first = first
        self.last = last
        self.age = age
        self.email = first + '.' + last +'@google.com'
        
    def fullname(self):               #Method
        return "{} {} ".format(self.first,self.last)
    
    def apply_raise(self):           #Method
        self.age = int(self.age * 1.05)
        
std_1 = student('kumar','sharath',24)
print("Class variable of baseclass (Student) :",student.prec_raise)
print("Getting attribute instance of base class i.e age :",std_1.age)
print("Getting attribute instance of base class i.e First Name :",std_1.first)
print()

class dumb(student):
    prec_raise = 1.10
    
    def __init__(self,first,last,age): #Method
        self.first = first
        self.age = age
    
std_1 = dumb('Sharath','Kumar',25)
print("Class variable of subclass (Dumb) :",dumb.prec_raise)
print("Getting attribute instance of subclass i.e age",std_1.age)
print("Getting attribute instance of subclass i.e First Name :",std_1.first)

# Absract class :
1 Abstract class cannot be instantiated   (Cannot create instance or objects of abstract class)

2 It can only be inherited

In [17]:
from abc import ABC,abstractmethod

class Employee(ABC):
    @abstractmethod
    
    def salary_emp(self,sal):
        pass
    
class developer(Employee):
    
    def salary_emp(self,sal):
        final_sal = sal * 1.10
        return final_sal
    
n = int(input("Current salary : "))
emp1 = developer()
print("Employee salary increased by 10% :",int(emp1.salary_emp(n)))

Current salary : 10000
Employee salary increased by 10% : 11000