<a href="https://colab.research.google.com/github/Sharathkumar0/LetsupgradeAI-ML/blob/master/Letsupgrade_Day6_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.

In [63]:
Email= input("Enter the Email Address : ")
#Splitting the Email address at '@' ('sharath','gmail.com') and again splitting at '.'(gmail)
Company_name = Email.split('@')[1].split('.')[0]
print(Company_name)

Enter the Email Address : sharath@gmail.com
gmail

2 Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.

In [3]:
Example = input("Enter the sequence of string : ")
split = Example.split(',')
split = sorted(split)
split_0 = (",".join(split))
split_0

Enter the sequence of string : a,s,d,f,g,h,j

'a,d,f,g,h,j,s'

3 Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.

In [7]:
def Mis_No(L):
    for x in range(L[0],L[-1]+1):
      if x not in L:
        return x
L=[1,2,4,6,5,8]
print(Mis_No(L))

3

4 With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.

In [103]:
def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
      
duplicate = [2, 4, 10, 20, 5, 2, 20, 4] 
print(Remove(duplicate))

[2, 4, 10, 20, 5]