In [3]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [6]:
data = pd.read_csv('C:\Sharath\B3\hiring.csv')
data.head()

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

In [8]:
data.isna().sum()

experience         2
test_score         1
interview_score    0
salary             0
dtype: int64

In [10]:
data['experience'].fillna(0,inplace=True)

In [12]:
data['test_score'].fillna(data['test_score'].mean(),inplace=True)

In [14]:
def conv(x):
    dic = {'five':5,'two':2,'seven':7,'three':3,'ten':10,'eleven':11,0:0}
    return dic[x]

In [16]:
data['experience'] = data['experience'].apply(lambda x : conv(x))

In [24]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1:]

In [26]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x,y)

LinearRegression()

In [30]:
ypred = lr.predict(x)
ypred.T

array([[52313.61238494, 45722.68644263, 58231.95591138, 63991.7318464 ,
        67429.06277517, 61080.55179794, 75922.72532666, 79307.67351488]])

In [32]:
lr.predict([[2,8,6]])

array([[51377.95452891]])

In [ ]:
#Deployment

In [33]:
pickle.dump(lr,open('Model Pkl','wb'))